body{
    background-color: #084734;
    color: #cdedb3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Orbitron';
    z-index: 1;
    margin: 0;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 52rem;
    border: 2px solid #cdedb3;
    outline: 2px solid #CEF17B;
    box-shadow: 0px 4px 5px #1e2a1f;
    border-radius: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    text-align: left!important;   
    width: 90%;
    background-color: #cdedb3;
    color: #084734;
    border-radius: 2rem;
    border: 2px solid #CEF17B;
    box-shadow: 0px 4px 5px #1e2a1f;
    padding: 1rem 2rem;
}

h1{
    background-color: #084734;
    color:#cdedb3;
    width: 80%;
    padding: 2rem;
    margin: 0;
}

p {
    color:#084734;
}

#aboutP{
    border: 2px solid #CEF17B;
    box-shadow: 0px 4px 5px #1e2a1f;
    background-color: #cdedb3;
    border-radius: 2rem;
    padding: 2rem;
    margin: 0 2rem;
    width: 75%;
    max-width: 48rem;
    text-align: center;
}





/*menu styles*/
#menuIcon{
    position: fixed;
    top: 0;
    left:0;
    width: 5rem;
    height: 5rem;
    z-index: 1001;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #084734;
    border-bottom-right-radius: 5px;
}

#menuIcon img{
    margin: auto;
}

#menuIcon img:hover{
    border: 2px solid #cdedb3;
    border-radius: 5px;
}

#menu{
    position: fixed;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    padding: 0 2rem 2rem 0;
    z-index: 1002;
    top: 0;
    left: -20rem;
    background-color: #084734;
    color:#cdedb3;
    height: 100%;
    width: 16rem;
    border-right: 2px solid #1e2a1f;
    box-shadow: 3px 0 5px black;
    transition: all 0.2s ease;
}

#menu.open{
    left: 0;
}

#menu img{
    width: 3rem;
    height: 3rem;
    margin: 1rem 0 1rem 1rem;
    cursor: pointer;
}

#menu img:hover{
    border: 2px solid #cdedb3;
    border-radius: 5px;
}

#menu div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #cdedb3;
}

#menu h1{
    padding-top: 0.25rem;
    margin: 1rem;
    height: auto;
    text-align: left!important;
}

#menuHeadH1 {
    text-align: left;
    margin-left: 0;
}

#menu h1:hover{
    text-decoration: underline;
}

#menu ul{
    clear: both;
    font-size: 1.25rem;
    line-height: 4rem;
    list-style: none;
    text-align: left;
    padding-left: 2rem;
}

#menu ul li{
    transition: all 0.2s ease;
}

#menu ul li:hover{
    list-style:circle;
    padding-left: 1rem;
    text-decoration: underline;
}

#menu ul li a{
    text-decoration: none;
    color: #cdedb3;
}

#menu ul li + li {
    border-top: 2px solid #1e2a1f;
}