/*script function*/
.hidden{
    display: none;
}

body{
    display: block;
}

.display{
    display: block!important;
}

.liHover:hover {
    cursor: pointer;
}

.crossOff {
    text-decoration: line-through;
}


/*all*/

*{
    font-family: 'Orbitron';
}

body{
    margin: 0;
    padding: 0;
}

main{
    height: 100%;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

* {
    scrollbar-color: #555 transparent;
}

/*heading*/
h2{
    width: 100%;
    text-align: center;
    background-color: #084734;
    color: #cdedb3;
    border-bottom: 2px solid #cdedb3;
    box-sizing: border-box;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
}

/*plan section*/
#planSection{
    position: relative;
    top: 3.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cdedb3;
}

/*first task*/
#firstTask{
    background-color: #CEF17B;
    color: #084734;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0;
    min-height: 200px;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}



#firstTaskNav button{
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 0;
    background-color: #084734;
    color: #CEF17B;
    font-size: larger;
    font-weight: 600;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid hsla(0 0 0 0.3);
    border-right: 1px solid hsla(0 0 0 0.3);
    height: 100%;
    box-shadow: 0 3px 3px black;
    transition: all 0.2s ease;
}

#firstTaskNav button:hover{
    transform: translateY(-2px);
}

#firstTaskNav button:active{
    transform: translateY(4px);
}

#firstTaskNav{
    display: flex;
    margin: 0;
    padding: 0;
    height: 20%;
    justify-self: flex-end;
    width: 100%;
}

#firstTask h1{
    margin: 4rem;
    font-size: xxx-large;
    text-decoration: underline;
}

#prioListDiv{
    background-color: #084734;
    color: #cdedb3;
    height: 20rem;
    width: 80%;
    min-width: 350px;
    max-width: 650px;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-radius: 3px;
    box-shadow: 0 3px 5px black;
}

#lerntage{
    color: #084734;
    text-decoration: underline;
    margin-bottom: 3rem;
}

#displayPlan{
    color: #084734;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid #084734;
    border-top: 1px solid #084734;
    margin-bottom: 3rem;
}

#dayList{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    width: 100%;
}

#dayList li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 20rem;
    text-align: left;
}

#dayList ol{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

#dayList li div ol li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    text-align: left;
}

#dayList li div{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#dayList li button {
    background-color: #084734;
    color:#cdedb3;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px black;
    transition: all 0.2s ease;
}

#dayList li button:hover{
    transform: translateY(-1px);
}

#dayList li button:active{
    transform: translateY(3px);
}



#backToQ{
    width: 20rem;
    margin: 2rem 0;
    padding: 1.5rem;
    color:#cdedb3;
    background-color: #084734;
    border-radius: 3px;
    box-shadow: 0 3px 5px black;
    transition: all 0.2s ease;
}

#backToQ:hover{
    transform: translateY(-2px);
}

#backToQ:active{
    transform: translateY(4px);
}

/*menu styles*/
#menuIcon{
    position: fixed;
    top: 0;
    left:0;
    width: 5rem;
    height: 5rem;
    z-index: 1001;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuIcon img{
    margin: auto;
}

#menuIcon img:hover{
    border: 2px solid #cdedb3;
    border-radius: 5px;
}

#menu{
    position: fixed;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 1002;
    top: 0;
    left: -20rem;
    background-color: #084734;
    color:#cdedb3;
    height: 100%;
    width: 16rem;
    border-right: 2px solid #1e2a1f;
    box-shadow: 3px 0 5px black;
    transition: all 0.2s ease;
}
#menu img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
}

#menu img:hover{
    border: 2px solid #cdedb3;
    border-radius: 5px;
}

#menu div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #cdedb3;
}

#menu h1{
    width: 6rem;
    padding-top: 0.25rem;
    margin: 1rem;
    height: auto;
}

#menu h1:hover{
    text-decoration: underline;
}

#menu ul{
    clear: both;
    font-size: 1.25rem;
    line-height: 4rem;
    list-style: none;
    text-align: left;
    padding-left: 0rem;
}

#menu ul li{
    transition: all 0.2s ease;
}

#menu ul li:hover{
    list-style:circle;
    padding-left: 1rem;
    text-decoration: underline;
}

#menu ul li a{
    text-decoration: none;
    color: #cdedb3;
}

#menu ul li + li {
    border-top: 2px solid #1e2a1f;
}