/*functional*/
.hidden{
    display: none!important;
}

body{
    display: block;
}

.display{
    display: block!important;
}

/*main styles*/
*{
    font-family: 'Orbitron';
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

* {
    scrollbar-color: #555 transparent;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #cdedb3;
    display: grid;
    grid-template-rows: 1fr 7fr 2fr;
    grid-template-columns: 1fr minmax(250px, 650px) 1fr;
    grid-template-areas: "space space space"
                         "space section space"
                         "space button space";
    min-height: 100vh;
    /*
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
}

main{
    background-color: #084734;
    color:#cdedb3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: section;
    /*
    width: 80%;
    min-width: 450px;
    height: 90%;
    min-height: 550px;
    */
    padding: 1rem;
    margin-top: 10%;
    box-shadow: 0px 4px 4px black;
    border-radius: 3px;
}

/*home styles*/
#home{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 90%;
    min-height: 550px;
    min-width: 450px;
    height: 90%;*/
    grid-area: section;
}

#home #intro{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    grid-area: section;
}

#home #begin{
    margin-top: 20%;
    height: auto;
    width: 100%;
}

@media (max-width: 500px) {
    main{
        min-width: 350px;
    }
    #home{
        min-width: 280px;
    }
}


/*Subject styles*/

#subjects {
    /*
    height: 90%;
    min-height: 550px;
    min-width: 450px;
    height: 90%;
    */
    grid-area: section;
}

#subjects div {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    flex-wrap: wrap;
}

#subjects div h1{
    margin: 4rem 0;
}

#subjects div ul{
    width: 50%;
    justify-self: center;
}

#addSubjectButton {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    background-color: #cdedb3;
    color: #084734;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 0px 5px 5px black;
    transition: all 0.2s ease;
    margin: 0 0.25rem;  
    width: 10rem;               
}

#addSubjectButton:hover{
    background-color: #CEF17B;
    transform: translateY(-2px);
}

#addSubjectButton:focus {
  outline: 2px solid #CEF17B;
  outline-offset: 2px;
  transform: translateY(-2px);
}

#addSubjectButton:active{
    transform: translateY(4px);
    outline: none;
    box-shadow: 0px 0px 5px black;

}

input[type="text"]{
    all:unset;
    background-color: white;
    color: #084734;
    font-weight: 600;
    height: 2.4rem;
    border-radius: 3px;
}

input[type="text"]::placeholder{
    font-weight: 300;
}

input[type="text"]:focus{
   outline: 2px solid #CEF17B;
   outline-offset: 2px; 
}

#subjectList li{
    cursor:pointer;
}

#subjectList li:hover{
    color:hsla(91, 53%, 80%, 0.2)
}

@media (max-width: 500px) {
    #subjects{
        min-width: 280px;
    }
    #addSubjectButton{
        margin: 0.25rem;
    }
    input[type='text']{
        width: 10.5rem;
        padding: 0 0.5rem;
        margin: 1rem;
    }
}



/*Date styles*/

#dates {
    /*
    height: 90%;
    min-height: 550px;
    min-width: 450px;
    width: 100%;
    */
    grid-area: section;
}

#dates h2 {
    font-weight: 400;
}

#dateDiv {
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

#dates h1{
    margin-top: 3rem;
}

#dateProgress {
    margin-bottom: 2rem;
}

#dates h3{
    font-weight: 500;
}

#dates h2{
    font-weight: 600;
}

input[type="date"]{
    all:unset;
    background-color: white;
    color: #084734;
    font-weight: 600;
    height: 2.4rem;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 2rem;
    cursor: text; 
    min-width: 4rem;
    width: 60%;
    max-width: 24rem;
}

#dateInput:focus{
   outline: 2px solid #CEF17B;
   outline-offset: 2px; 
}

@media (max-width: 500px) {
    #dates{
        min-width: 280px;
        padding: 0;
        text-align: left;
    }
    #dateDiv{
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        margin: 0;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #dates h1{
        width: 90%;
        margin: 1rem 0;
    }
}


/*confidence styles*/

#confidence {
    /*
    height: 90%;
    min-height: 550px;
    min-width: 450px;
    height: 90%;
    */
    grid-area: section;
}

#confidence div {
    width: 95%;
    height: auto;
    overflow-y: scroll;
    text-align: left;
    padding: 0 1rem;
}

#confidence h2{
    margin-bottom: 3rem;
}

* input[type='range']{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 12rem;
    height: 12px;
    margin: 0 10px;
}

* input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: #cdedb3;
  border-radius: 999px;
}

* input[type="range"]::-moz-range-track {
  height: 6px;
  background: #cdedb3;
  border-radius: 999px;
}

* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: #084734;
  border: 2px solid #CEF17B;

  cursor: pointer;
  margin-top: -5px; /* wichtig fürs centering */
}

* input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: white;
  border: 2px solid #3b82f6;

  cursor: pointer;
}

* input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

* input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.1);
}

* input[type="range"] {
  accent-color: white; /* super simple moderne Lösung */
}

@media (max-width: 500px){
    #confidence{
        min-width: 350px;
    }
    #confidence div{
        min-width: 350px;
    }
    input[type="range"]{
        width: 8rem;
    }
}


/*time styles*/

#time {
    /*
    height: 90%;
    min-height: 550px;
    min-width: 450px;
    height: 90%;
    */
    grid-area: section;
}

#time h1 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;

  border: 2px solid #cdedb3;
  border-radius: 50%;

  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked{
    background-color: #CEF17B;
}

input[type="radio"]:checked::after{
    content: "";
    width: 8px;
    height: 8px;
    background: #084734;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"]:hover {
    transform: scale(1.1);
}

input[type="radio"]:focus{
    outline: 2px solid #cdedb3;
}

#time label {
    white-space: nowrap;
    margin: 0 5px;
}


input[type="number"] {
    padding: 10px;
    border: 1px solid #CEF17B;
    border-radius: 5px;

    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease;
}

input[type="number"]:focus {
    border: 2px solid #CEF17B; 
    box-shadow: 0 0 0 1px black;
}

@media (max-width: 500px){
    #time{
        min-width: 350px;
    }
    #time div{
        min-width: 350px;
    }
}


/*summarize styles*/

#summarize {
    /*
    height: 90%;
    min-height: 550px;
    width: 100%;
    height: 90%;
    max-height: 750px;
    */
    grid-area: section;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#summarize div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 3rem;
    height: auto;
    padding-top: 1rem;

}

#summarize div label {
    width: 100%;
    clear: both;
    margin: 0.5rem 0;
}

#summarize div label input{
    margin: 0 3px;
    width: 100%;
    clear: both;
}

#summarize h1{
    margin: 0;
}

#summarize input[type="text"]{
    padding: 0.5rem;
    padding-left: 1rem;
    text-align: left;
}


@media (max-width: 500px){
    #summarize{
        min-width: 350px;
    }
    #summarize div{
        min-width: 350px;
        padding: 1rem;
    }
    #summarize input[type="text"]{
        width: 75%;
        clear: both;
    }
    #summarize input[type="date"]{
        width: 75%;
        clear: both;
    }
    #summarize input[type="range"]{
        width: 75%;
    }
}
/*nav styles*/

#navDiv{
    margin: 3rem;
    padding: 0;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    gap: 0!important;
    grid-area: button;
}

#navDiv button {
    background-color: #CEF17B;
    color: #084734;
    margin: 0!important;
    padding: 1rem;
    box-sizing: border-box;
    width: 20%;
    max-width: 160px;
    min-width: 120px;
    font-size: large;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 5px 2px black;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

#navDiv button:active{
    transform: translateY(4px)!important;
    box-shadow: 0px 0px 2px black;
}

#navDiv button:hover {
    transform: translateY(-2px);
}

#navDiv button:focus {
    transform: translateY(-2px);
}