/*functional*/
.hidden{
    display: none!important;
}

.display{
    display: block;
}

/*main styles*/
*{
    font-family: 'Orbitron';
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

* {
    scrollbar-color: #555 transparent;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main{
    background-color: var(--bg-text);
    color: var(--primary-text);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-width: 450px;
    max-width: 750px;
    height: 75%;
    min-height: 450px;
    padding: 1rem;
    margin-top: 10%;
    box-shadow: 0px 4px 4px var(--bg-text);
    border-radius: 3px;
}

/*home styles*/
#home{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    min-height: 400px;
    min-width: 350px;
}

#intro{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#begin{
    margin-top: 10%;
    height: auto;
    width: 100%;
}

@media (max-width: 500px) {
    main{
        min-width: 350px;
    }
    #home{
        min-width: 280px;
    }
}


/*Subject styles*/

#subjects {
    height: 90%;
    width: 90%;
    min-height: 400px;
    min-width: 350px;
}

#subjects div {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subjects div h1{
    margin: 10% 0;
}

#subjects div ul{
    width: 50%;
    height: 30%;
    max-height: 6rem;
    justify-self: center;
    overflow-y: scroll;
}

#addSubjectButton {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    background-color: var(--accent);
    color: var(--accent-text);
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 0px 5px 5px black;
    transition: all 0.2s ease;
    margin: 0.5rem 0.25rem;  
    width: 10rem;               
}

#addSubjectButton:hover{
    transform: translateY(-2px);
}

#addSubjectButton:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
  transform: translateY(-2px);
}

#addSubjectButton:active{
    transform: translateY(4px);
    outline: none;
    box-shadow: 0px 0px 5px black;

}

input[type="text"]{
    all:unset;
    background-color: white;
    color: var(--dark);
    font-weight: 600;
    height: 2.4rem;
    border-radius: 3px;
}

input[type="text"]::placeholder{
    font-weight: 300;
}

input[type="text"]:focus{
   outline: 2px solid var(--primary);
   outline-offset: 2px; 
}

#subjectList li{
    cursor:pointer;
}

#subjectList li:hover{
    background-color: var(--lightPrim);
    color:var(--lp-text)
}

@media (max-width: 500px) {
    #subjects{
        min-width: 280px;
    }
    input[type='text']{
        width: 10.5rem;
        padding: 0 0.5rem;
        margin: 1rem;
    }
}



/*Date styles*/

#dates {
    height: 90%;
    width: 100%;
    min-height: 400px;
    min-width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dates h2 {
    font-weight: 400;
}

#dateDiv {
    width: 95%;
    height: auto;
}

#dates h1{
    margin-top: 3rem;
}

#dateProgress {
    margin-bottom: 2rem;
}

#dates h3{
    font-weight: 500;
}

#dates h2{
    font-weight: 600;
}

input[type="date"]{
    all:unset;
    background-color: white;
    color: var(--accent);
    font-weight: 600;
    height: 2.4rem;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 2rem;
    cursor: text; 
    min-width: 4rem;
    width: 60%;
    max-width: 24rem;
}

#dateInput:focus{
   outline: 2px solid var(--accent);
   outline-offset: 2px; 
}

@media (max-width: 500px) {
    #dates{
        min-width: 280px;
        padding: 0;
        text-align: left;
    }
    #dateDiv{
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        margin: 0;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #dates h1{
        width: 90%;
        margin: 1rem 0;
    }
}


/*confidence styles*/

#confidence {
    height: 90%;
    width: 100%;
    min-height: 400px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confidence div {
    width: 95%;
    height: auto;
    overflow-y: scroll;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confidence h2{
    margin-bottom: 3rem;
}

#confidence label {
    margin-bottom: 1rem;
}

* input[type='range']{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 50%;
    min-width: 12rem;
    height: 12px;
    margin: 3px 10px;
}

* input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: var(--primary);
  border-radius: 999px;

}

* input[type="range"]::-moz-range-track {
  height: 6px;
  background: var(--primary);
  border-radius: 999px;

}

* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: var(--accent);
  border: 2px solid var(--accent-text);

  cursor: pointer;
  margin-top: -5px; /* wichtig fürs centering */
}

* input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: var(--accent);
  border: 2px solid var(--accent-text);

  cursor: pointer;
}

* input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

* input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.1);
}

* input[type="range"] {
  accent-color: white; /* super simple moderne Lösung */
}

@media (max-width: 500px){
    #confidence{
        min-width: 350px;
    }
    #confidence div{
        min-width: 350px;
    }
    input[type="range"]{
        width: 8rem;
    }
}


/*time styles*/

#time {
    height: 90%;
    width: 90%;
    min-height: 400px;
    min-width: 350px;
}

#time h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  display: inline-block;
  position: relative;
  cursor: pointer;
}

#time input[type="radio"]{
    border: 2px solid var(--bg)!important;
}

input[type="radio"]:checked{
    background-color: var(--primary-text);
}

input[type="radio"]:checked::after{
    content: "";
    width: 8px;
    height: 8px;
    background: var(--bg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"]:hover {
    transform: scale(1.1);
}

input[type="radio"]:focus{
    outline: 2px solid var(--bg);
}

#time label {
    white-space: nowrap;
    margin: 0 5px;
}


input[type="number"] {
    padding: 10px;
    border: 1px solid var(--primary-text);
    border-radius: 5px;

    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease;
}

input[type="number"]:focus {
    border: 2px solid var(--bg); 
    box-shadow: 0 0 0 1px black;
}

@media (max-width: 500px){
    #time{
        min-width: 350px;
    }
    #time div{
        min-width: 350px;
    }
}


/*summarize styles*/

#summarize {
    height: 90%;
    width: 90%;
    min-height: 400px;
    min-width: 350px;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#summarize div{
    width: 90%;
    height: 90%;
    max-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 3rem;
    height: auto;
    padding-top: 1rem;

}

#summarize div label {
    width: 100%;
    clear: both;
    margin: 0.5rem 0;
}

#summarize div label input{
    margin: 0 3px;
    width: 100%;
    clear: both;
}

#summarize h1, #summarize h2{
    margin: 0;
    margin-bottom: 2rem;
}

#summarize input[type="text"]{
    padding: 0.5rem;
    padding-left: 1rem;
    text-align: left;
}


@media (max-width: 500px){
    #summarize{
        min-width: 350px;
        padding: 0;
    }
    #summarize div{
        min-width: 350px;
        padding: 1rem;
    }
    #summarize input[type='text'], #summarize input[type='date'], #summarize input[type='range'] {
        width: 12rem!important;
        clear: left!important;
        display: block;
    }
    #summarize label{
        float: left;
    }
}
/*nav styles*/

#navDiv{
    margin: 2.5%;
    padding: 0;

    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0!important;
}

#navDiv button {
    background-color: var(--accent);
    color: var(--accent-text);
    margin: 0!important;
    padding: 1rem;
    box-sizing: border-box;
    width: 30%;
    max-width: 160px;
    height: 50%;
    min-height: 50px;
    min-width: 120px;
    font-size: large;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 5px 2px black;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

#navDiv button:active{
    transform: translateY(4px)!important;
    box-shadow: 0px 0px 2px black;
}

#navDiv button:hover {
    transform: translateY(-2px);
}

#navDiv button:focus {
    transform: translateY(-2px);
}