body{
    background-color: var(--bg);
    color: var(--bgText);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Orbitron';
    z-index: 1;
    margin: 0;
    text-align: center;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

* {
    scrollbar-color: #555 transparent;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    max-width: 52rem;
    border: 2px solid var(--bgText);
    outline: 2px solid var(--bg-text);
    box-shadow: 0px 4px 5px #1e2a1f;
    border-radius: 2rem;
    padding-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 2rem 0;
}

article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    text-align: left!important;   
    width: 85%;
    background-color: var(--bgText);
    color: var(--bg);
    border-radius: 2rem;
    border: 2px solid var(--div);
    box-shadow: 0px 4px 5px #1e2a1f;
    padding: 1rem 2rem;
}

article + article {
    margin-top: 3rem;
}

h1{
    background-color: var(--bg);
    color:var(--bgText);
    width: 80%;
    padding: 2rem;
    margin: 0;
}

h2 span{
    color: var(--red);
}

p {
    color:var(--bg);
}

#aboutP{
    border: 2px solid var(--primary);
    box-shadow: 0px 4px 5px #1e2a1f;
    background-color: var(--bgText);
    color: var(--bg);
    border-radius: 2rem;
    padding: 2rem;
    margin: 0 2rem;
    width: 75%;
    max-width: 48rem;
    text-align: center;
}

#news{
    padding-top: 0;
    padding-bottom: 0;
}

#news div {
    width: 100%;
    height: 48rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 0 1rem;
}

#news h2{
    margin-bottom: 0;
}

#news h4{
    margin-top: 0;
}

#contact ul{
    text-align: left;
}

#contact ul li a{
    color: var(--yellow);
    transition: all 0.2s ease;
    word-break: break-all;
}

#menuIcon{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    width: 3rem!important;
    height: 3rem!important;
    color: var(--divText);
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent!important;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

#menuIcon:hover{
    border: 2px solid var(--divText);
}