/*menu styles*/

#menuHTML{
    z-index: 1010;
    padding: 0 2rem 2rem 0;
    display: inline-flex;
    flex-direction: column;
    left: -20rem;
    position: fixed;
    top: 0;
    left: -20rem;
    box-shadow: 3px 0 5px var(--dark);
    border-right: 2px solid var(--dark);
    width: 16rem;
    box-sizing: border-box;
    padding: 0;
    z-index: 1002;
    background-color: var(--div);
    color: var(--bg-text);
    height: 100%;
    transition: all 0.2s ease;
}

#menuHTML.open{
    left: 0!important;
}

#menuHTML svg{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
    margin-bottom: 0;
    color: var(--divText);
    border-radius: 5px;
    border: 2px solid transparent;
}

#menuHTML svg:hover{
    border: 2px solid var(--divText);
    border-radius: 5px;
}

#menuHTML div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#menuHTML h1:hover{
    text-decoration: underline;
}

#menuHTML ul{
    clear: both;
    font-size: 1.25rem;
    line-height: 4rem;
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menuHTML ul li{
    transition: all 0.2s ease;
    padding-left: 1rem;
}

#menuHTML ul li:hover{
    list-style:circle;
    padding-left: 2rem;
    text-decoration: underline;
}

#menuHTML ul li a{
    text-decoration: none;
    color: var(--divText);
}

#menuHTML ul li + li {
    border-top: 2px solid var(--divText);
}


#menuHead {
    padding: 0;
    margin: 0;
    background-color: var(--bg)!important;
    border-bottom: 2px solid var(--divText);
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#menuHeadImg{
    margin: 0!important;
    margin-left: 1rem!important;
}

#menuHeadH1 {
    all: unset;
    font-size: 2rem;
    font-family: 'Orbitron';
    font-weight: 700;
    background-color: var(--bg);
    color: var(--bgText);
    margin: 0!important;
    justify-self: flex-end;;
    padding-left: 1rem;
}


#settings{
    justify-self: flex-end;
    position: relative;
    margin: auto 0 0 0;
    box-sizing: border-box;
}

#settings li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid var(--divText);
    color: var(--divText);
}

#settings li svg{
    margin: 0;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: var(--divText);
}

#settingsLi{
    margin-top: auto;
}

#settingsLi:hover{
    padding-left: 1rem!important;
}

#settings li:hover{
    list-style: none!important;
    padding-left: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

#settings li svg:hover{
    border: none;
}

#settingsSection{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    min-width: 350px;
    max-width: 750px;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: var(--div);
    color:var(--bgText);
    border: 2px solid var(--bgText);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 0;
}

#settingsHead{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: var(--bg);
    color: var(--bgText);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 15%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.closed{
    display: none!important;
}

#settingsHead svg {
    margin: 0;
    justify-self: flex-end;
    margin: 0.5rem 0.5rem 0 auto;
    color: var(--bgText);
}

#settingsHead h1{
    width: auto;
    margin: 1rem 0 0 1rem;
    background-color: transparent;
}

#settingsDiv {
    width: 100%;
    padding: 0 ;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    height: 80%
}

#settingsDiv h2{
    justify-self: flex-start;
    height: 2rem;
    float: left;
    width: 100%;
    padding-left: 3rem;
}

.languageOptions{
    width: 100%;
    height: 20%;
    display: inline-flex;
    flex-direction: column!important;
    align-items: flex-start;
    padding-left: 4rem;
    justify-content: center;
    clear: left;
    float: left;
}

#settingsSection input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;

  border: 2px solid var(--divText);
  border-radius: 50%;

  display: inline-block;
  position: relative;
  cursor: pointer;
}

#settingsSection input[type="radio"]:checked{
    background-color: var(--red);;
}

#settingsSection input[type="radio"]:checked::after{
    content: "";
    width: 8px;
    height: 8px;
    background: var(--div);;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#settingsSection input[type="radio"]:hover {
    transform: scale(1.1);
}

#settingsSection input[type="radio"]:focus{
    outline: 2px solid var(--divText);
}
