/*menu styles*/
#menuIcon{
    position: fixed;
    top: 0;
    left:0;
    width: 4.9rem;
    height: 4.9rem;
    z-index: 1001;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-bottom-right-radius: 1rem;
    box-sizing: border-box;
}

#menuIcon img{
    margin: auto;
}

#menuIcon img:hover{
    border: 2px solid var(--dark-text);
    border-radius: 5px;
}

#menuHTML{
    z-index: 1010;
    padding: 0 2rem 2rem 0;
    display: inline-flex;
    flex-direction: column;
    left: -20rem;
    position: fixed;
    top: 0;
    left: -20rem;
    box-shadow: 3px 0 5px var(--dark);
    border-right: 2px solid var(--dark);
    width: 16rem;
    box-sizing: border-box;
    padding: 0;
    z-index: 1002;
    background-color: var(--bg);
    color: var(--bg-text);
    height: 100%;
    transition: all 0.2s ease;
}

#menuHTML.open{
    left: 0!important;
}

#menuHTML img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
    margin-bottom: 0;
}

#menuHTML img:hover{
    border: 2px solid var(--bg-text);
    border-radius: 5px;
}

#menuHTML div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid var(--bg-text);
}

#menuHTML h1{
    width: 6rem;
    padding-top: 0.25rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 1.5rem;
    padding: 0.25rem 1rem 2rem;
}

#menuHTML h1:hover{
    text-decoration: underline;
}

#menuHTML ul{
    clear: both;
    font-size: 1.25rem;
    line-height: 4rem;
    list-style: none;
    text-align: left;
    padding-left: 2rem;
}

#menuHTML ul li{
    transition: all 0.2s ease;
}

#menuHTML ul li:hover{
    list-style:circle;
    padding-left: 1rem;
    text-decoration: underline;
}

#menuHTML ul li a{
    text-decoration: none;
    color: var(--bg-text);
}

#menuHTML ul li + li {
    border-top: 2px solid var(--bg-text);
}


#menuHead {
    padding: 0;
    margin: 0;
}

#menuHeadH1 {
    background-color: var(--bg);
    color: var(--bg-text);
}

#settings{
    justify-self: flex-end;
    position: relative;
    margin: auto 0 0 0;
    box-sizing: border-box;
}

#settings li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid var(--bg-text);
}

#settings li img{
    margin: 0;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}

#settings li:hover{
    list-style: none!important;
    padding-left: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

#settings li img:hover{
    border: none;
}

#settingsSection{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: var(--bg);
    color:var(--bg-text);
    border: 2px solid var(--bg-text);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 0;
}

#settingsHead{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary);
    color: var(--primary-text);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary-text) !important;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.closed{
    display: none!important;
}

#settingsHead img {
    margin: 0;
    justify-self: flex-end;
    margin: 0.5rem 0.5rem 0 auto;
}

#settingsHead h1{
    width: auto;
    margin: 1rem 0 0 1rem;
    background-color: var(--primary);
}

#settingsDiv {
    width: 100%;
    padding: 0 ;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    height: 80%
}

#settingsDiv h2{
    justify-self: flex-start;
    height: 2rem;
    float: left;
    width: 100%;
}

#languageOptions{
    width: 100%;
    height: 20%;
    display: inline-flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    clear: left;
    float: left;
}