/*menu styles*/
#menuIcon{
    position: fixed;
    top: 0;
    left:0;
    width: 4.9rem;
    height: 4.9rem;
    z-index: 1001;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #084734;
    border-bottom-right-radius: 1rem;
    box-sizing: border-box;
}

#menuIcon img{
    margin: auto;
}

#menuIcon img:hover{
    border: 2px solid #cdedb3;
    border-radius: 5px;
}

#menuHTML{
    z-index: 1010;
    padding: 0 2rem 2rem 0;
    display: inline-flex;
    flex-direction: column;
    left: -20rem;
    position: fixed;
    top: 0;
    left: -20rem;
    box-shadow: 3px 0 5px black;
    border-right: 2px solid #1e2a1f;
    width: 16rem;
    box-sizing: border-box;
    padding: 0;
    z-index: 1002;
    background-color: #084734;
    color:#cdedb3;
    height: 100%;
    transition: all 0.2s ease;
}

#menuHTML.open{
    left: 0!important;
}

#menuHTML img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
    margin-bottom: 0;
}

#menuHTML img:hover{
    border: 2px solid #cdedb3;
    border-radius: 5px;
}

#menuHTML div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #cdedb3;
}

#menuHTML h1{
    width: 6rem;
    padding-top: 0.25rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 1.5rem;
    padding: 0.25rem 1rem 2rem;
}

#menuHTML h1:hover{
    text-decoration: underline;
}

#menuHTML ul{
    clear: both;
    font-size: 1.25rem;
    line-height: 4rem;
    list-style: none;
    text-align: left;
    padding-left: 2rem;
}

#menuHTML ul li{
    transition: all 0.2s ease;
}

#menuHTML ul li:hover{
    list-style:circle;
    padding-left: 1rem;
    text-decoration: underline;
}

#menuHTML ul li a{
    text-decoration: none;
    color: #cdedb3;
}

#menuHTML ul li + li {
    border-top: 2px solid #1e2a1f;
}


#menuHead {
    padding: 0;
    margin: 0;
}

#settings{
    justify-self: flex-end;
    position: relative;
    margin: auto 0 0 0;
}

#settings li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #1e2a1f;
}

#settings li img{
    margin: 0;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}

#settings li:hover{
    list-style: none!important;
    padding-left: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

#settings li img:hover{
    border: none;
}

#settingsSection{
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: #cdedb3;
    color:#084734;
    border: 2px solid #084734;
    border-radius: 2rem;
}

.closed{
    display: none;
}